.spinnerContainer {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 100vh;
  position: relative;
}
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
