.buttonBox {
  display: flex;
  gap: 15px;
  margin: 0 80px 0 auto;
}
.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pending,
.progress,
.done {
  & svg {
    stroke: gray;
    height: 2rem;
    width: 2rem;
  }
}

.active svg {
  stroke: #303f9f;
}
